<ul class="games-list uk-list js-filter">
  {%- for game in games -%}
  <li data-playing="{{game.playing}}" data-finished="{{game.finished}}" 
      data-title="{{game.title | downcase}}"
    data-collection="{{game.in_collection}}">
    <div class="uk-grid-small game-article" uk-grid>
      <div class="uk-width-expand" uk-leader>
        <a href="{{game.url}}" class="uk-button uk-button-text">{{game.title}}</a>
      </div>

      {%- include games/games.lib.icons.html -%}


    </div>
  </li>
  {%- endfor -%}
</ul>