$primary: #828282 !default;
$secondary: #3A3A3A !default;
$pink: #ff00ff !default;
$yellow: yellow !default;
$blue: #00ffff !default;

$playstation-4: #003791;
$playstation-3: #146eb4;
$nintendo-switch: #e4000f;
$nintendo-3ds: #727272;

$colors: ( // color map
primary: $primary,
secondary: $secondary,
pink: $pink,
yellow: $yellow,
blue: $blue,
);




@each $name,
$color in $colors {
  .color-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background: $color !important;
  }
}