.game-article {
  .fas {
    margin: 0px 8px;
  }

  .fa-trophy {
    color: $yellow
  }

  .fa-bookmark {
    color: $pink
  }

  .fa-gamepad {
    color: $blue
  }
  
  .uk-label {
    background-color: $blue;
  }

  .uk-link-reset {
    font-weight: bold;
  }

  .release-date {
    color: $secondary;
  }

  h4 {
    margin-bottom: 16px;
  }
}