@mixin games_theme($name, $background, $text, $primary, $secondary) {
  .theme-#{$name} {

    #game-systems {
      margin-left: 0px;
      margin-bottom: 30px;

      .game-system {
        text-align: center;
        padding: 0px;
        margin-left: 0px;

        svg {
          width: 75%;
          margin: auto;
          display: block;
        }

        span {
          font-size: .8rem;
        }

        &:hover {
          svg {
            fill: $primary
          }
        }
      }
    }


    .game-card {
      .uk-card {
        text-decoration: none;
        display: block;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;
        border: 2px solid $text;
        -webkit-box-shadow: 1px 1px 0px 0px $text;
        -moz-box-shadow: 1px 1px 0px 0px $text;
        box-shadow: 1px 1px 0px 0px $text;
        cursor: pointer;

        &:hover {
          -webkit-box-shadow: 4px 4px 0px 0px $text;
          -moz-box-shadow: 4px 4px 0px 0px $text;
          box-shadow: 4px 4px 0px 0px $text;
        }
      }

      .platform {
        padding: 4px;
        width: calc(100% - 8px);
        display: block;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        color: #fff;

        &.pPS4 {
          background-color: $playstation-4;
        }

        &.pNSW {
          background-color: $nintendo-switch;
        }

        &.p3DS {
          background-color: $nintendo-3ds;
        }

        &.pPS3 {
          background-color: $playstation-3;
        }
      }
    }





    #filter-bar {
      li {
        margin: 0px !important;

        &.uk-active {
          a {
            background-color: transparent !important;

            i {
              color: $secondary;
            }
          }
        }

        a {
          padding: 0px !important;

          .fa-stack {
            width: 2em !important;
          }
        }
      }
    }


    .game-status-icons {
      .fas {
        margin: 0px 8px;
      }
    }

    .games {
      form.uk-search-default {
        width: 100%;
        margin-bottom: 32px;

        input {
          border-radius: 8px;
        }
      }
    }
  }
}