h1,
h2,
h3,
p,
a,
span,
div,
* {
  font-family: 'Abel', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 300;
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
  padding: 0px 4px !important;
  border-radius: 4px;
  margin: 0px 4px;
  white-space: normal;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-family: inherit !important;
}

blockquote {
  padding: 8px 16px 8px 16px;

  p {
    font-size: .8em;
  }
}

article {

  .title {
    font-size: 18px;
    font-family: 'Major Mono Display', monospace !important;
  }

  img {
    max-height: 640px;
    margin: auto;
    display: block;
  }

  .uk-article-title {
    margin-bottom: 0px;

    a {
      font-size: 25px;
      font-weight: 300;
      text-transform: none;
    }
  }

  .uk-article-meta {
    font-weight: 100;
    opacity: 0.3;
    margin-top: 4px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}