@mixin viagens_theme($name, $background, $text, $primary, $secondary) {
  .viagens {

    svg {

      path#BR,
      path#TH,
      path#SG,
      path#ES,
      path#CN,
      path#JP,
      path#AE {
        fill: $secondary !important;

        &:hover {
          cursor: pointer;
          fill: $primary !important;
        }
      }
    }
  }
}