---
layout: default
---

<article class="games game-article">
  <h1 class="title">{{ page.title }}</h1>

  {{ content }}

  <h5>Jogando:</h5>
  {%- assign games = site.games | where: "owned_platform", page.abbreviation |
  where: "playing" , true -%} {% include games/games.lib.cards.html %}

  <h5>Jogos Finalizados:</h5>
  {%- assign games = site.games | where: "owned_platform", page.abbreviation |
  where: "finished" , true -%} {% include games/games.lib.cards.html %}

  <h5>Biblioteca:</h5>

  {%- assign games = site.games | where: "owned_platform", page.abbreviation -%}
  {%- assign show_status = true -%} {% include games/games.lib.list.html %} {%-
  include disqus_comments.html -%}
</article>
